html, body, .inner-overlay, .background  {
    margin: 0;
    height: 100%;
}

.background {
	background-image: url(./images/Flag_of_Moldova.svg);
	background-size: 100px;
}

.inner-overlay {
	background-color: rgb(255 255 255 / 75%);
	position: relative;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
	width: 75%;
}

.candidate-one, .candidate-two {
	display: flex;
}

.candidate-one .frame {
    border: 2px solid;
}

.frame {
	margin: 20px 20px;
	height: 110px;
	font-weight: bold;
	text-align: center;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.candidate-one .frame .f-name {
    font-size: 20px;
}
.candidate-one .frame .l-name {
    font-size: 25px;
}

.candidate-two .frame .f-name {
    font-size: 25px;
}
.candidate-two .frame .l-name {
    font-size: 30px;
}

.logo-placeholder {
	min-width: 150px;
	min-height: 150px;
	background-color: white;
}

.stamp-placeholder {
	min-width: 150px;
	min-height: 150px;
	background-color: white;
}

.stamp-placeholder .round-frame {
    margin: 20px 20px;
    height: 110px;
    border: 2px solid;
	border-radius: 55px;
	cursor: pointer;
}

.description {
	width: 100%;
	background-color: white;
	text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.description .name {
	font-weight: bold;
	font-size: 30px;
}

.description .text {
	font-size: 20px;
}

.text-aligner {
	text-align: center;
    display: flex;
    justify-content: center;
	flex-direction: column;
	border: 2px solid purple !important;
}

.voted {
	font-size: 33px;
    color: purple;
}

.hide {
	display: none;
}